
body {
   background: url(../../images/BoardAndSky.jpg) no-repeat center center fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   z-index: 0;
   }

#header {
   margin-top: 30px;
   margin-bottom: 50px;
}


.nonMainHeader {
  display: flex;
}

.nonMainHeaderSpace {
  flex: 1
}

.nonMainHeaderBanner {
  flex: 5
  justify-content: center;
  font-size: 250%; 
}

.nonMainHeaderBanner:hover {
  font-size: 300%; 
}


.nonMainCenter {
   display: flex;
   margin-top: 50px;
}

.nonMainMenuContainer {
  flex: 1;
  margin-left: 50px;
  margin-right: 50px;
  display: flex;
  background-color: transparent;
  flex-direction: column;
}

.nonMainMenuSpace {
  flex: 1;
}

.nonMainMenu {
  flex: 5;
  display: flex;
  background-color: transparent;
  flex-direction: column;
}

.menuButton {
  background-color: transparent;
  flex: 1;
  
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline; 
}

.nonMainText {
  flex: 6;
  margin-right: 50px;
}

#menu {
   flex: 1;
}

#video {
   flex: 1;
}

#footer {
   margin-top: 40px;
}

.container {
   height: 100%;
}
.header {
   z-index: 999;
}

.mainBody {
   max-width: 100px;
   max-height: 100px;
   background-color: red;
   z-index: 999;
 }

@media (min-width: 768px) {
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar ul {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}